<ion-card class="cardLogin">
  <ion-card-header class="card-header" style="text-align: center;">
    <ion-card-title style="width: 100%;">Login</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-padding">

      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" name="usuario" [(ngModel)]="usuario"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" name="password" [(ngModel)]="password"></ion-input>
      </ion-item>
  
      <ion-text color="primary" class="forgot-password">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </ion-text>
  
      <ion-button expand="block" color="primary" (click)="ingresar()">
        Iniciar Sesión
      </ion-button>
  
      <ion-button expand="block" color="secondary" (click)="registrarse()">
        Registrarse
      </ion-button>
    </ion-card-content>

</ion-card>
  
